<head>
<body background="drugs.jpg" style="background-repeat:no-repeat" >
<div align=right>
<button onclick="window.location.href = 'home.html';">Home</button>
<input type=button name=predict value=Predict></div>
<h1 align=center><b>Drug Classification</b></h1>
<form action="submit.html" method="post">
<b>Age</b><br>
<input type=number placeholder="Age"><br><br>
<b>Sex</b><br>
<select><option>Male</option><option>Female</option></select><br><br>
<b>BP</b><br>
<select><option>Low</option><option>High</option><option>Normal</option></select><br><br>
<b>Cholesterol</b><br>
<select><option>Normal</option><option>High</option></select><br><br>
<b>Na_to_K</b><br>
<input type=number placeholder="Na_to_K"><br><br>
<input type=submit >
</form></body>
</head>